/* css -------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* mani contaienr  */
.container {
  width: 100%;
  height: 100%;

  background-image: url("../images/bg.jpg");
  background-color: rgba(0, 0, 0, 0.534);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.container::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.container span {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  pointer-events: none;
  /* transition: all 0.2s; */
}
